body {
    margin: 0;
    padding: 0;
}

h1{
    margin: 10px 0 0 100px;
    padding: 0 0 0px;
    text-align: left;
    font-size: 70px;
    font-family: 'Amatic SC', cursive;
    color: #ff6a00;
}

section {
    width: 100%;
    height: 100vh;
    font-family: sans-serif; 
}

.loginbox{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 640px;
    height: 480px;
}
.loginbox .left {
    float: left;
    width: 320px;
    height: 480px;
    background: rgba(14, 52, 3, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox .right{
    float: right;
    width:320px;
    height:480px;
    background: rgba(143, 193, 36, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h2{
    margin:0;
    padding: 0 0 5px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}

.formbox p{
    margin:0;
    padding:0 0 0px;
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

.formbox input{
    width: 100%;
    margin-bottom: 20px;
}

.formbox input[type="text"], input[type="password"]
{
    color: #000;
    border: none;
    border-bottom: 1px solid #fff;
    background: #fff;
    outline: none;
    height: 30px;
    font-size: 16px;
    border-radius:20px;
    padding: 0 0 0;
}

.formbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background:#ff6a00;
    color:#fff;
    font-size: 18px;
    border-radius:20px;
}

.formbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ff0000;
    color: #000;
}

.formbox a{
    text-decoration:none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.formbox a:hover {
     color: #ff0000;
    }

.SignUpbox{
    width: 640px;
    height: 800px;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.SignUpbox .left {
    float: left;
    width: 320px;
    height: 900px;
    background: rgba(14, 52, 3, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}

.SignUpbox .right{
    float: right;
    width:320px;
    height:900px;
    background: rgba(143, 193, 36, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 100px 30px;
}

.titlebg{
  background-color: rgba(143, 193, 36, 0.8);
  height: 70px
}

.title{
    margin: 0 0 0 0px;
    padding: 0 0 0 80px;
    font-size: 55px;
    font-family: 'Amatic SC', cursive;
    color: #ff6a00;
}
.icon-bar {
    width: 80px; 
    height: 700px;
    background-color: rgba(14, 52, 3, 0.9) ;
    position: fixed;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: #ffffff;
    font-size: 17px;
    text-decoration: none;
}

.icon-bar a:hover {
    color: rgba(143, 193, 36, 0.8);
    text-decoration: none;
}

.active {
    background-color: #ff6a00;
    color: rgba(14, 52, 3, 0.9);
    text-decoration: none;
    }
