body {
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    height: 100vh;
    background-image: url(study-1.jpg);
    background-size:cover;                    
    background-repeat: no-repeat;
    background-position:center center;
    font-family: sans-serif; 
}

.loginbox{
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 640px;
    height: 480px;
}
.loginbox .left {
    float: left;
    width: 320px;
    height: 480px;
    background: rgba(14, 52, 3, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}

.loginbox .right{
    float: right;
    width:320px;
    height:480px;
    background: rgba(143, 193, 36, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width:100px;
    height:100px;
    border-radius:50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 10px 0 0 100px;
    padding: 0 0 0px;
    text-align: left;
    font-size: 70px;
    font-family: 'Amatic+SC', cursive;
    color: #ff6a00;
}
h2{
    margin:0;
    padding: 0 0 5px;
    text-align: center;
    font-size: 22px;
    color: #fff;
}
h3{
    margin:0;
    text-align: center;
    font-size: 22px;
    color: #ff6a00;
}

.formbox p{
    margin:0;
    padding:0 0 0px;
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

.formbox input{
    width: 100%;
    margin-bottom: 10px;
}

.formbox input[type="text"], input[type="password"]
{
    color: #000;
    border: none;
    border-bottom: 1px solid #fff;
    background: #fff;
    outline: none;
    height: 30px;
    font-size: 16px;
    padding: 0 0 0;
}
.formbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 30px;
    background:#ff6a00;
    color:#fff;
    font-size: 18px;
}

.formbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ff0000;
    color: #000;
}

.formbox th{
    width: 340px;
}

.formbox a{
    text-decoration:none;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}

.formbox a:hover {
     color: #ff0000;
    }

.formbox select[name="school"]{
    height: 30px;
    width: 200px;
    font-size: 16px;
}

.SignUpbox{
    width: 640px;
    height: 480px;
    position:absolute; 
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    float: none;
    background: rgba(14, 52, 3, 0.7);
    color: #fff;
    box-sizing: border-box;
    padding: 20px 20px;
    
}

.table formbox{
    width: 600px;
    height: 400px;
}

.table{
    height: 220px;
    width: 90%;
    padding-bottom: 20px;
    position: absolute;
    float:center;
    left: 200px;
    top: 80px;  
}

.table th{
    background-color:rgba(143, 193, 36, 0.9);
    color: black;
    height: 40px;
    width: 50%;
    text-align: center;
}

.table td{
    background-color:rgba(255,255,255, 0.8);
    color: black;
    height: 40px;
    width: 400px;
    text-align: center;
}

.table input[type="submit"]{
    width: 150px;
    margin: 10px;
}

.table a:hover {
     color: #ff0000;
    }

.gap th{
    background-color: transparent;
}

.gap td a{
    font-weight: bold;
}

.links th{
    background-color: #ff6a00;
}

.links a{
    color: black;
}

.links button{
    float: center;
    padding: 5px 5px 5px;
    margin: 0 120px 0;
}

.group a:hover
{
    cursor: pointer;
    background: #ff0000;
    color: #000;
}

.group a{
    position:absolute;
    top: 10%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 30px;
    background:#ff6a00;
    color:#fff;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
}

a{
    text-decoration: none;
}

.titlebg{
  background-color: #8FC124;
  height: 75px
}

.title{
    position: fixed;
    margin: 0 0 0 80px;
    padding: 0 0 0 10px;
    font-size: 55px;
    width: 100%;
    z-index: 1;
}

.icon-bar {
    width: 80px; 
    height: 700px;
    background-color: rgba(14, 52, 3, 0.9) ;
    position: fixed;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 10px;
    transition: all 0.3s ease;
    color: #ffffff;
    font-size: 17px;
}

.icon-bar a:hover {
    color: rgba(143, 193, 36, 0.8);
}

.active {
    background-color: #ff6a00;
    color: rgba(14, 52, 3, 0.9);
    }

.dropdown {
    margin-top: -190px;
    margin-left: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    display: inline-block;
}

.dropbtn {
    width: 800px;
    background-color: #ff6a00;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    outline: 0;
    background: #ff0000;
}

.dropdown-content {
    width: 800px;
    height: 200px;
    background-color: rgba(14, 52, 3, 0.9) ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    display: none;
    position: fixed;
    z-index: 1;
    overflow-y:scroll;
    overflow-x: hidden;
}

.dropdown-content button {
    width: 800px;
    text-align: center;
    background-color: rgba(14, 52, 3, 0.9) ;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    border: none;
}

.dropdown-content button:hover {
    background-color: rgba(143, 193, 36, 0.8);
}

.show {
    display:block;
}

.resultbox{
    margin: 220px 0 0 300px;
    width:795px;
    height: 120px;
    background: white;
    color: rgba(143, 193, 36, 0.8);
    position: fixed;
    box-sizing: border-box;
    box-shadow: 5px 10px 8px #888888;
    padding-top: 100px;
    visibility: hidden;
    z-index: -1;
    height: auto;

}

.resultbox img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    margin-top: -95px;
}

.resultbox h3{
    margin-top: -95px;
    margin-left: 150px;
    width: auto;
    font-size: 22px;
    color: #ff6a00;
}
.resultbox p{
    margin-top: 10px;
    margin-left: 150px;
    width: 300px;
    font-size: 16px;
}

.strengths h4{
    margin-top: -130px;
    margin-left: 450px;
    padding: 0px;
    color: #ff6a00;
}

.strengths p{
    margin-top: -20px;
    margin-bottom: 20px;
    margin-left: 450px;
    padding: 0px;
    font-size: 16px;
}

.weaknesses h4{
    margin-top: -20px;
    margin-left: 450px;
    color: #ff6a00;
}

.weaknesses p{
    margin-top: -20px;
    margin-left: 450px;
    margin-bottom: 20px;
    font-size: 16px;
}

.profileImage{
    width:120px;
    height:120px;
    border-radius: 50%;
    margin-left: 250px;
    margin-top: 120px;
}

.ProfileBox{
    box-sizing: border-box;
    height: 180px;
    width: 45%;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
    margin-left: 400px;
    margin-top: -140px;
}

.followButton {
    margin-left: 270px;
    margin-top: -10px;
    color: white;
    background-color: #ff6a00;
    border: none;
    outline: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
 
}

.ProfileBox h3{
    color: #ff6a00;
    margin-left: 12px;
    margin-top: -90px;
    padding-top: 15px;
}

.ProfileBox p{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.ProfileBox button{

    position: relative;
    margin-left: 260px;
    margin-top: -20px;
    color: #fff;
    background-color: #ff6a00;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

.skills{
    margin-left: 400px;
}

.skills h3{
    color: #ff6a00;
    margin-top: 40px;  
}

.skills table{
    width: 670px;
    border-collapse: collapse;
    outline: none;
}

.skills td, th {
    border: none;
    text-align: left;
    padding: 10px;
    height: auto;
}

.skills tr:nth-child(even) {
    background-color: #8FC124;
}

.skills button{
    color: white;
    background-color: #ff6a00;
    border: none;
    margin-left: 270px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
}

button:hover
{
    cursor: pointer;
    background: #ff0000;
    color: white;
}


.ProfileBox input {
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
    height: auto;
    border-radius:20px;
    border: 1px solid  #8FC124;
    background: #fff;
    outline: none;
}


.skills input{
    padding: 5px;
    height: auto;
    border-radius:20px;
    border: 1px solid  #8FC124;
    outline: none;
}

h6{
    margin-left: 500px;
    margin-top: 400px;
    position: absolute;
}

.inbox{
    position: absolute;
    width: 350px;
    height: 650px;
    margin-left: 80px;
    margin-top: 75px;
    background-color: #fff;
    z-index: -1;
    overflow-y:scroll;
    overflow-x: hidden;
}

.messagebox{
    box-sizing: border-box;
    width: 350px;
    height: 100px;
    background-color: #fff;
}

.messagebox:hover{
    background-color: rgba(86,61,124,.1);
    cursor: pointer;
}

.messagebox img{
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.messagebox h3{
    color: #ff6a00;
    margin-top: -65px;
    margin-left: 100px;
    margin-bottom: 0px;
}

.messagebox p{
    margin-top: 1px;
    margin-left: 100px;
}

.chatbox{
    margin-left: 430px;
    visibility: hidden;
}

.chatbox h3{
    right: 0;
    width: 933px;
    position: absolute;
    color: #fff;
    text-align: center;
    margin-top: 70px;
    padding: 10px;
    background-color: #ff6a00;
}

.chatboxMessages{
    right: 0;
    position: absolute;
    width: 950px;
    height: 520px;
    margin-top: 72px;
    background-color: #fff;
    border-bottom: 1.5px solid #ff6a00;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.send p {
    position: absolute;
    float: right;
    margin-top: 50px;
    margin-left: 510px;
    margin-right: 20px;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    background-color: #8FC124;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.receive {
    position: absolute;
    float: left;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 0px;
    box-sizing: border-box;
    width: 400px;
    height: auto;
    background-color: rgba(14, 52, 3, 0.9);
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
}

.typeMessage textarea{
    position: absolute;
    margin-top: 600px;
    margin-left: 10px;
    width: 830px;
    height: 50px;
    padding-top: 0px;
    border: none;
    outline: none;
    margin-bottom: 0px;
}

.typeMessage button{
    position: absolute;
    margin-left: 850px;
    margin-top: 600px;
    width: 50px;
    height: 50px;
    background-color: #ff6a00;
    color: #fff;
    border: none;
    width: 100px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
}
